<form [formGroup]="registerForm" (ngSubmit)="register()" style="height: 100%;">
    <div class="row text-white" style="height: 100%;">
      <div class="col-xl-4 col-lg-3 col-md-2"></div>
      <div class="col-xl-4 col-lg-6 col-md-8 my-auto" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
        <div class="py-3 text-center"><h2>Register</h2></div>
        <div class="form-group py-2">
          <label for="username" class="form-label">Username*</label>
          <input class="form-control" formControlName="username" type="text" id="username" (blur)="checkUsernameAlreadyExists()" (focus)="checkUsernameAlreadyExistsReset()" required/>
          <div
            *ngIf="(registerForm.get('username')?.dirty || registerForm.get('username')?.touched) && registerForm.get('username')?.errors?.['required']">
            Username is required.
          </div>
          <div
            *ngIf="usernameExists">
            Username {{alreadyExistingUsername}} already exists! Pick a different one.
        </div>
        </div>
        <div class="form-group py-2">
          <label for="name" class="form-label">Name*</label>
          <input class="form-control" formControlName="name" type="text" id="name" required />
          <div
            *ngIf="(registerForm.get('name')?.dirty || registerForm.get('name')?.touched) && registerForm.get('name')?.errors?.['required']">
            Name is required.
          </div>
        </div>
        <div class="form-group py-2">
          <label for="email" class="form-label">Email*</label>
          <input class="form-control" formControlName="email" type="email" id="email" required />
          <div
            *ngIf="(registerForm.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm.get('email')?.errors?.['required']">
            Email is required.
          </div>
          <div
            *ngIf="(registerForm.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm.get('email')?.errors?.['pattern']">
            Invalid email.
          </div>
        </div>
        <div class="form-group py-2">
          <label for="password" class="form-label">Password*</label>
          <input class="form-control" formControlName="password" type="password" id="password" required />
          <div
            *ngIf="(registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div
            *ngIf="(registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
        </div>
        <div class="form-group py-2">
          <label for="role" class="form-label">Role*</label>
          <select formControlName="role" class="form-select" id="role" required>
            <option selected value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="py-3 text-center">
          <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid || usernameExists">Register</button>
        </div>
        <div class="py-3 text-center">
          Already registered? <a routerLink="/login" style="text-decoration: none; color: yellow">Click to Login</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-3 col-md-2"></div>
    </div>
  </form>
  